
@{
    ViewBag.Title = "Giris";
}

@model  WebApplication4.Models.basvurum


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Login Form by Oussama Afellad</title>

    <script type="text/javascript" src="~/App_Start/Content/xHTML/js/jquery.js"></script>
    <script type="text/javascript" src="~/App_Start/Content/xHTML/js/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="~/App_Start/Content/xHTML/js/rainbows.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/App_Start/Content/plusbusiness/layout/styles/layout.css" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/App_Start/Content/xHTML/css/style.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="~/App_Start/Content/menuBar/style.css/">


<style>

    #topnav li a:link, #topnav li a:visited, #topnav li a:hover{display:block; margin:0; padding:15px 20px; color:white; background-color:#666666;}
    #topnav li a:hover, #topnav ul li.active a{color:white; background-color:#94a8c3;}
    #links_left a{
	color:#292929;
	font-size:13px;
}
    body {
	color: #292929;
	font-size: 13px;
}
   
</style>
    <script>


        $(document).ready(function () {

            $("#submit1").hover(
            function () {
                $(this).animate({ "opacity": "0" }, "slow");
            },
            function () {
                $(this).animate({ "opacity": "1" }, "slow");
            });
        });


    </script>
        
</head>
<body>
    <div class="wrapper col1" style="background-color:#00A3DA;">
        <div id="header" style="height:50px;">
            <div id="logo" style="height:100px;margin:-34px 0px 0px;">
                <h1><a href="#"><img src="~/App_Start/Content/logopıtonbeyaz.png" style="width:200px;"/></a></h1>
            </div>

            <div id="topnav" style="margin:0px 0px 0px;font-family:inherit;">
                <ul>
                    @{

                    }
@if (ViewContext.RouteData.Values["id"] != null)
{
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Anasayfa" ? "active" : "")" >@Html.ActionLink("Anasayfa", "Anasayfa", "Home", new { id = ViewContext.RouteData.Values["id"] }, null)</li>

                   
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Profil" ? "active" : "")">@Html.ActionLink("Profil", "Profil", "Home", new { id = ViewContext.RouteData.Values["id"] }, null)</li>
                    
                    <li>
                        <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Uyeler" ? "active" : "")" href="@Url.Action("Uyeler", "Home", new { id = ViewContext.RouteData.Values["id"] }, null)">Üyeler</a>
                    </li>
}

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Basvuru" ? "active" : "")">@Html.ActionLink("Basvuru", "Basvuru", "Home", new { id = ViewContext.RouteData.Values["id"] }, null)</li>

                    @if (ViewContext.RouteData.Values["id"] != null)
                                        {
                    <li>
                        <a href="#">Hesap</a>
                        <ul>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ProfilAyar" ? "active" : "")"><a href="@Url.Action("ProfilAyar", "Home", new { id = ViewContext.RouteData.Values["id"] }, null)">Profilini Düzenle</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Giris" ? "active" : "")"><a href="@Url.Action("Giris","Home")">Çıkış Yap</a></li>
                        </ul>
                    </li>
                    }
                    @if (ViewContext.RouteData.Values["id"] == null) 
                    {
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Giris" ? "active" : "")">@Html.ActionLink("Giris", "Giris", "Home", new { id = ViewContext.RouteData.Values["id"] }, null) </li>
                    }
                        </ul>
            </div>
            <br class="clear" />
        </div>
    </div>
  
        @using (Html.BeginForm("Kayit", "Home", FormMethod.Post))
        {
            <div id="wrapper" style="opacity:0.85;">
                <div id="wrappertop"></div>

                <div id="wrappermiddle" style="opacity:1;">

                    <h2>Giriş</h2>

                    <div id="username_input">

                        <div id="username_inputleft"></div>

                        <div id="username_inputmiddle">



                            <input type="text" name="mail" id="url" placeholder="E-mail Adres" onclick="this.value = ''" style="font-weight:bold;color:#292929;font-family:inherit;" />
                            <img id="url_user" src="~/App_Start/Content/xHTML/images/mailicon.png" alt="" />

                        </div>

                        <div id="username_inputright"></div>

                    </div>

                    <div id="password_input">

                        <div id="password_inputleft"></div>

                        <div id="password_inputmiddle">

                            <input type="password" name="sifre" id="url" placeholder="Password" onclick="this.value = ''" style="font-weight:bold;color:#292929;font-family:inherit;" />
                            <img id="url_password" src="~/App_Start/Content/xHTML/images/passicon.png" alt="" />

                        </div>

                        <div id="password_inputright"></div>

                    </div>
                    
                    <div id="submit">

                        <input type="submit" value="Giriş Yap" style="background-color:#00A3DA;font-family:inherit;color:black;padding: 5px 113px;" id="gonder" />

                    </div>


                    <div id="links_left" style="font-weight:bold;">

                        <a>@Html.ActionLink("Basvuru", "Basvuru", "Home")</a>

                    </div>
                    <div id="links_right">

                        @if (TempData["hata"] != null)
                        {@TempData["hata"]}
                    </div>
                </div>
                <div id="wrapperbottom"></div>

            </div>
        <br />
        <br />
        <br />
        }

</body>
</html>

